# Python & Node stuff
backend/venv/
frontend/node_modules/

# System
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Large test files
backend/testing/AnalysisTime/

# Media files
*.mp3
*.MP3
*.mp4
*.MP4
!frontend/public/intro.mp3

# Ignore large test files
/testing/AnalysisTime/
