# Core API
fastapi
uvicorn
python-multipart

# NLP & Transformers
transformers
sentencepiece
huggingface-hub
safetensors

# Faster Whisper
faster-whisper
ctranslate2
av==11.0.0 

# Torch Stack
torch
torchvision
torchaudio
facenet-pytorch
timm

# ML
scikit-learn
numpy
scipy
joblib
sympy
threadpoolctl

# PDF & Image
pdfkit
pillow
opencv-python

# Optional: Deepfake
face-recognition
face-recognition-models

# Utility
requests
regex
colorama
coloredlogs
emoji
tqdm
pyyaml
filelock
future

# Framework deps
starlette
anyio
h11
pydantic
jinja2
MarkupSafe

# Optional utils
typing-inspection
typing-extensions
